{% extends 'content/base2.html' %}
{% block content %}
<body>
<div style="text-align: center;">
    <div>
    <h1 style="display: inline-block;">Subscription to our service</h1>
    <h3 class="h3 mb-3 fw-normal">The sub will cost 100 rub</h3>
    </div>
</div>
<main class="form-signin w-100 m-auto">
    <form action="{% url 'subscription:create-checkout-session' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary w-100 py-2" id="checkout-button">Purchase</button>
    </form>
</main>

</body>


{% endblock %}