{% extends 'content/base.html' %}
{% block content %}
{% load l10n %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Page</title>
    <style>
        /* Add your CSS styles here */
        .feed-item {
          border: 1px solid #e1e1e1;
          border-radius: 5px;
          margin: 10px;
          padding: 10px;
        }
        .user-info {
          font-weight: bold;
        }
        .post-image {
          max-width: 100%;
          height: auto;
        }
        .post-actions {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="feed-item">
            <div class="user-info">
                @{{object.user}}
            </div>
            {% if object.preview %}
            <img src="{{ object.preview.url }}" alt="Preview" style="max-width: 57%;">
            {% endif %}
            <div class="post-content">
                <p>{{ object.description }}</p>
            </div>
            <div class="post-actions">
                <div class="like-action">
                    100 likes
                </div>
                <div class="comment-action">
                    50 comments
                </div>
                <div class="view-count">
                    1000 views
                </div>
                <div class="timestamp">
                    <p> 10 min ago</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
