{% extends 'content/base.html' %}
{% block content %}
<h2>Are you sure you want to delete this content?</h2>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="feed-item">
            {% if object.user.photo %}
            <div class="media">
                <img class="rounded-circle account-img" src="{{ object.user.photo.url }}" width="28" height="28">
                @{{object.user}}
            </div>
            {% else %}
            <div class="user-info">
                <div class="username-box">
                    @{{object.user}}
                </div>
            </div>
            {% endif %}
            {% if object.preview %}
            <img src="{{ object.preview.url }}" alt="Preview" style="max-width: 57%;">
            {% endif %}
            <div class="post-content">
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Confirm</button>
</form>
{% endblock %}