{% extends 'content/base.html' %}
{% block content %}
{% load l10n %}
<body>
<div class="container">
    <div class="row">
        {% for object in object_list %}
        {% if forloop.counter0|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        <div class="feed-item">
            <div class="user-info">
                @{{object.user}}
            </div>
            {% if object.preview %}
            <img src="{{ object.preview.url }}" alt="Preview" style="max-width: 57%;">
            {% endif %}
            <div class="post-content">
                <p>{{ object.description }}</p>
            </div>
        </div>
        {% endfor %}
        {% if not object_list %}
        <p>Оформите <a href="{% url 'subscription:subscribe' %}">подписку</a>, чтобы увидеть платный контент</p>
        {% endif %}
    </div>
</div>
</body>

{% endblock %}