<nav class="ms-5">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Content
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'content:index' %}" data-title="Free content">Free content</a></li>
            <li><a class="dropdown-item" href="{% url 'content:paid_content' %}" data-title="Paid content">Paid content</a></li>
            <li><a class="dropdown-item" href="{% url 'content:my_content' %}">My posts</a></li>
            <li><a class="dropdown-item" href="{% url 'content:content_create' %}">Create post</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Collection
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'content:collection_list' %}">Collections</a></li>
            <li><a class="dropdown-item" href="{% url 'content:my_collection_list' %}">My collections</a></li>
            <li><a class="dropdown-item" href="{% url 'content:collection_create' %}">Create collection</a></li>
        </ul>
    </div>
    {% if not request.user.is_subscribed %}
    <a class="p-2 btn btn-outline-primary" href="{% url 'subscription:subscribe' %}">Subscribe</a>
    {% endif %}
</nav>