<nav class="ms-5">
    <a class="p-2 btn btn-outline-primary" href="{% url 'content:index' %}">Free content</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'content:paid_content' %}">Paid content</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'content:collection_list' %}">Collections</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'content:content_create' %}">Create post</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'content:collection_create' %}">Create collection</a>
</nav>