{% extends 'content/base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Page</title>
    <style>
        /* Add your CSS styles here */
        .feed-item {
          border: 1px solid #e1e1e1;
          border-radius: 5px;
          margin: 10px;
          padding: 10px;
        }
        .user-info {
          font-weight: bold;
        }
        .post-image {
          max-width: 100%;
          height: auto;
        }
        .post-actions {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="feed-item">
            <h1>Profile</h1>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if user.photo %}
                <p><img src="{{ user.photo.url }}">
                    {% endif %}

                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

                <p>
                    <button type="submit">Save</button>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}