{% extends 'content/base2.html' %}
{% block content %}


<main class="form-signin w-100 m-auto">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Register</h1>
        <div class="form-floating">
            {{ form.name }}
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
            {{ form.phone }}
            <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating">
            {{ form.password1 }}
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            {{ form.password2 }}
            <label for="floatingPassword">Password repeat</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023–2024</p>
    </form>
</main>


{% endblock %}